beautifulsoup4==4.15.0
certifi==2026.7.22
charset-normalizer==3.4.9
chaquopy-freetype==2.9.1
chaquopy-libjpeg==1.5.3
chaquopy-libxml2==2.9.8
chaquopy-libxslt==1.1.32
chaquopy-libyaml==0.2.5
debugpy==1.8.21
idna==3.18
lxml==5.3.0
packaging==26.2
pillow==11.0.0
PyYAML==6.0.3
requests==2.34.2
soupsieve==2.9.1
typing_extensions==4.16.0
urllib3==2.7.0
